Repository tormach/hal_ros_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, clang-format, qmllint, qmlfmt

black:
  name: Run black code formatter
  description: This hook formats Python code.
  entry: env LC_ALL=C.UTF-8 black -q
  language: system
  args:
  - -S
  - -l
  - '80'

clang-format:
  name: Run clang-format
  description: Clang C/C++ code formatter.
  entry: clang-format -i
  args:
  - -style=file
  language: system

qmllint:
  name: Run qmllint
  description: QML linter
  entry: qmllint
  language: system

qmlfmt:
  name: Run qmlfmt
  description: qmlfmt QML code formatter.
  entry: qmlfmt -w -e
  args:
  - -i 2
  - -t 2
  language: system

Fix CI on Melodic
  .github/workflows/upstream_install.sh
Due: none

Add changes from pre-commit hooks
  .github/workflows/catkin_tools_devel.sh
  .github/workflows/upstream_install.sh
  hal_hw_interface/src/hal_hw_interface/tests/test_fixtures.py
  hal_hw_interface/src/hal_hw_interface/tests/test_redis_store_hal_pin.py
  hal_hw_interface/src/hal_hw_interface/tests/test_ros_hal_pin.py
Due: black

Update formatter rules
  .flake8
  .pre-commit-config.yaml
Due: none

Commit changes after formatter rule adjustment
  hal_hw_interface/doc/conf.py
  hal_hw_interface/scripts/hal_io
  hal_hw_interface/scripts/hal_mgr
  hal_hw_interface/scripts/hal_offset_mgr
  hal_hw_interface/setup.py
  hal_hw_interface/src/hal_hw_interface/__init__.py
  hal_hw_interface/src/hal_hw_interface/hal_io_comp.py
  hal_hw_interface/src/hal_hw_interface/hal_mgr.py
  hal_hw_interface/src/hal_hw_interface/hal_obj_base.py
  hal_hw_interface/src/hal_hw_interface/hal_pin_attrs.py
  hal_hw_interface/src/hal_hw_interface/loadrt_local.py
  hal_hw_interface/src/hal_hw_interface/redis_store_hal_pin.py
  hal_hw_interface/src/hal_hw_interface/ros_hal_component.py
  hal_hw_interface/src/hal_hw_interface/ros_hal_pin.py
  hal_hw_interface/src/hal_hw_interface/tests/conftest.py
  hal_hw_interface/src/hal_hw_interface/tests/test_fixtures.py
  hal_hw_interface/src/hal_hw_interface/tests/test_hal_io_comp.py
  hal_hw_interface/src/hal_hw_interface/tests/test_hal_obj_base.py
  hal_hw_interface/src/hal_hw_interface/tests/test_hal_pin_attrs.py
  hal_hw_interface/src/hal_hw_interface/tests/test_redis_store_hal_pin.py
  hal_hw_interface/src/hal_hw_interface/tests/test_ros_hal_component.py
  hal_hw_interface/src/hal_hw_interface/tests/test_ros_hal_pin.py
Due: black

hal_rrbot_control: Remove `xacro --inorder` arg
  hal_rrbot_control/launch/hal_rrbot_simulation.launch
  hal_rrbot_control/launch/rrbot_visualize.launch
Due: none

hal_mgr: Log missing HAL files as errors
  hal_hw_interface/src/hal_hw_interface/hal_mgr.py
Due: black

Fix shfmt formatter installation
  .github/workflows/format.yaml
Due: none

Fix log string formatting
  hal_hw_interface/src/hal_hw_interface/ros_hal_pin.py
Due: black

hal_rrbot_control: Ignore package temporarily
  hal_rrbot_control/COLCON_IGNORE
Due: none

Convert packaging to ROS2
  .editorconfig
  .gitignore
  hal_hw_interface/CMakeLists.txt
  hal_hw_interface/cmake/hal_hw_interface-extras.cmake
  hal_hw_interface/cmake/hal_hw_interface-extras.cmake.installspace.in
  hal_hw_interface/include/hal_hw_interface/hal_hw_interface.h
  hal_hw_interface/package.xml
  hal_hw_interface/resource/hal_hw_interface
  hal_hw_interface/scripts/hal_offset_mgr
  hal_hw_interface/setup.py
  hal_hw_interface/tests/tests.launch
Due: black, clang-format

Move Python src/hal_hw_interface to hal_hw_interface
  hal_hw_interface/hal_hw_interface/__init__.py
  hal_hw_interface/hal_hw_interface/exception.py
  hal_hw_interface/hal_hw_interface/hal_io_comp.py
  hal_hw_interface/hal_hw_interface/hal_mgr.py
  hal_hw_interface/hal_hw_interface/hal_obj_base.py
  hal_hw_interface/hal_hw_interface/hal_pin_attrs.py
  hal_hw_interface/hal_hw_interface/loadrt_local.py
  hal_hw_interface/hal_hw_interface/redis_store_hal_pin.py
  hal_hw_interface/hal_hw_interface/ros_hal_component.py
  hal_hw_interface/hal_hw_interface/ros_hal_pin.py
  hal_hw_interface/hal_hw_interface/tests/conftest.py
  hal_hw_interface/hal_hw_interface/tests/test_fixtures.py
  hal_hw_interface/hal_hw_interface/tests/test_hal_io_comp.py
  hal_hw_interface/hal_hw_interface/tests/test_hal_obj_base.py
  hal_hw_interface/hal_hw_interface/tests/test_hal_pin_attrs.py
  hal_hw_interface/hal_hw_interface/tests/test_redis_store_hal_pin.py
  hal_hw_interface/hal_hw_interface/tests/test_ros_hal_component.py
  hal_hw_interface/hal_hw_interface/tests/test_ros_hal_pin.py
Due: black

Update .github CI
  .clang-format
  .clang-tidy
  .github/.gitignore
  .github/ccache.conf
  .github/debian-distro-settings.yaml
  .github/docker/configure_source.sh
  .github/docker/script_pre.sh
  .github/local-env-sample.yaml
  .github/workflows/catkin_tools_devel.sh
  .github/workflows/ci.yaml
  .github/workflows/docker.yaml
  .github/workflows/format.yaml
  .github/workflows/prerelease.yaml
  .github/workflows/upstream.rosinstall
  .github/workflows/upstream_install.sh
  .pre-commit-config.yaml
Due: none

foxy WIP: black formatter
  hal_hw_interface/setup.py
Due: black

Port control node and hardware interface C++ to ros2_control
  hal_hw_interface/cmake/hal_hw_interface-extras.cmake
  hal_hw_interface/include/hal_hw_interface/hal_control_loop.h
  hal_hw_interface/include/hal_hw_interface/hal_def.hpp
  hal_hw_interface/include/hal_hw_interface/hal_handle.hpp
  hal_hw_interface/include/hal_hw_interface/hal_hw_interface.h
  hal_hw_interface/include/hal_hw_interface/hal_ros_logging.hpp
  hal_hw_interface/include/hal_hw_interface/hal_system_interface.hpp
  hal_hw_interface/src/hal_control_loop.cpp
  hal_hw_interface/src/hal_control_node.cpp
  hal_hw_interface/src/hal_hw_interface.cpp
  hal_hw_interface/src/hal_system_interface.cpp
Due: clang-format

README.md: Updates for ROS2
  README.md
Due: none

Copy visibility_control.h from ros2_control_demo_hardware package
  hal_hw_interface/include/hal_hw_interface/visibility_control.h
Due: clang-format

Add hardware_interface pluginlib description
  hal_hw_interface/hal_hw_interface.xml
Due: none

Address clang-tidy complaints
  .clang-tidy
  hal_hw_interface/include/hal_hw_interface/hal_handle.hpp
  hal_hw_interface/src/hal_control_node.cpp
Due: clang-format

Move services to new `hal_hw_interface_msgs` package
  hal_hw_interface/CMakeLists.txt
  hal_hw_interface/package.xml
  hal_hw_interface_msgs/CMakeLists.txt
  hal_hw_interface_msgs/README.md
  hal_hw_interface_msgs/package.xml
  hal_hw_interface_msgs/srv/SetFloat64.srv
  hal_hw_interface_msgs/srv/SetInt32.srv
  hal_hw_interface_msgs/srv/SetUInt32.srv
Due: none

hal_hw_interface: Run cmake lint formatters
  hal_hw_interface/CMakeLists.txt
  hal_hw_interface/cmake/FindHAL.cmake
Due: none

CI: Remove shfmt, obsolete Travis CI configs
  .github/workflows/format.yaml
  .pre-commit-config.yaml
  .travis.build-docs.sh
  .travis.setup-docker-image.sh
  .travis.yml
Due: none

CI: Fix branch matching rules
  .github/workflows/ci.yaml
Due: none

Update README with ROS2 instructions
  README.md
Due: none

Switch Machinekit APT repo
  .github/workflows/upstream_install.sh
Due: none

hal_hw_interface: Fix packaging issues
  hal_hw_interface/CMakeLists.txt
  hal_hw_interface/package.xml
  hal_hw_interface/resource/hal_hw_interface
Due: none

hal_hw_interface: Remove redis_store support
  hal_hw_interface/CMakeLists.txt
  hal_hw_interface/doc/.gitignore
  hal_hw_interface/doc/index.rst
  hal_hw_interface/hal_hw_interface/hal_io_comp.py
  hal_hw_interface/hal_hw_interface/redis_store_hal_pin.py
  hal_hw_interface/hal_hw_interface/tests/conftest.py
  hal_hw_interface/hal_hw_interface/tests/test_fixtures.py
  hal_hw_interface/hal_hw_interface/tests/test_redis_store_hal_pin.py
  hal_hw_interface/hal_hw_interface/tests/test_ros_hal_pin.py
  hal_hw_interface/package.xml
Due: black

hal_hw_interface: FIXME work around race condition in control_node
  hal_hw_interface/src/hal_control_node.cpp
Due: clang-format

hal_hw_interface: Revert to hardware_interface::*Interface
  hal_hw_interface/include/hal_hw_interface/hal_def.hpp
  hal_hw_interface/include/hal_hw_interface/hal_handle.hpp
  hal_hw_interface/include/hal_hw_interface/hal_system_interface.hpp
  hal_hw_interface/src/hal_control_node.cpp
  hal_hw_interface/src/hal_system_interface.cpp
Due: clang-format

hal_hw_interface: Fix hal_control_node comp loading
  hal_hw_interface/src/hal_control_node.cpp
Due: clang-format

hal_hw_interface: Control node: Read ROS CL args
  hal_hw_interface/src/hal_control_node.cpp
Due: clang-format

hal_hw_interface: Fix hardware plugin configuration
  hal_hw_interface/hal_hw_interface.xml
Due: none

hal_hw_interface: Use size_t, not std::vector<double>::size_type
  hal_hw_interface/include/hal_hw_interface/hal_system_interface.hpp
  hal_hw_interface/src/hal_system_interface.cpp
Due: clang-format

hal_hw_interface: Simplify interface handle storage
  hal_hw_interface/include/hal_hw_interface/hal_system_interface.hpp
  hal_hw_interface/src/hal_system_interface.cpp
Due: clang-format

hal_hw_interface: Add const specifiers to function args
  hal_hw_interface/include/hal_hw_interface/hal_system_interface.hpp
  hal_hw_interface/src/hal_system_interface.cpp
Due: clang-format

hal_hw_interface: Port Python to ROS2
  hal_hw_interface/hal_hw_interface/__init__.py
  hal_hw_interface/hal_hw_interface/exception.py
  hal_hw_interface/hal_hw_interface/hal_io_comp.py
  hal_hw_interface/hal_hw_interface/hal_mgr.py
  hal_hw_interface/hal_hw_interface/hal_obj_base.py
  hal_hw_interface/hal_hw_interface/hal_pin_attrs.py
  hal_hw_interface/hal_hw_interface/loadrt_local.py
  hal_hw_interface/hal_hw_interface/ros_hal_component.py
  hal_hw_interface/hal_hw_interface/ros_hal_pin.py
  hal_hw_interface/hal_hw_interface/tests/__init__.py
  hal_hw_interface/hal_hw_interface/tests/conftest.py
  hal_hw_interface/hal_hw_interface/tests/test_fixtures.py
  hal_hw_interface/hal_hw_interface/tests/test_hal_io_comp.py
  hal_hw_interface/hal_hw_interface/tests/test_hal_obj_base.py
  hal_hw_interface/hal_hw_interface/tests/test_hal_pin_attrs.py
  hal_hw_interface/hal_hw_interface/tests/test_ros_hal_component.py
  hal_hw_interface/hal_hw_interface/tests/test_ros_hal_pin.py
  hal_hw_interface/scripts/hal_mgr
Due: black

hal_hw_interface: Enable pep257 and cmake tests
  hal_hw_interface/CMakeLists.txt
Due: none

hal_hw_interface: Fix shebang in scripts
  hal_hw_interface/scripts/hal_io
  hal_hw_interface/scripts/hal_mgr
Due: none

hal_hw_interface: Use UDP discovery for controller manager
  hal_hw_interface/CMakeLists.txt
  hal_hw_interface/config/fastrtps_disable_shm.xml
  hal_hw_interface/launch/hal_hw_interface.launch.py
Due: black

hal_hw_interface: Template HAL comp install path in config
  hal_hw_interface/CMakeLists.txt
  hal_hw_interface/config/hal_hw_interface.yaml.in
Due: none

hal_hw_interface: Update launch file to ROS2
  hal_hw_interface/launch/hal_hw_interface.launch
  hal_hw_interface/launch/hal_hw_interface.launch.py
Due: black

Path conditions:
  black: any of: \.py$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  qmllint: any of: .*\.qml
  qmlfmt: any of: .*\.qml
