Repository tormach/hal_ros_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, clang-format, qmllint, qmlfmt

black:
  name: Run black code formatter
  description: This hook formats Python code.
  entry: env LC_ALL=C.UTF-8 black -q
  language: system
  args:
  - -S
  - -l
  - '80'

clang-format:
  name: Run clang-format
  description: Clang C/C++ code formatter.
  entry: clang-format -i
  args:
  - -style=file
  language: system

qmllint:
  name: Run qmllint
  description: QML linter
  entry: qmllint
  language: system

qmlfmt:
  name: Run qmlfmt
  description: qmlfmt QML code formatter.
  entry: qmlfmt -w -e
  args:
  - -i 2
  - -t 2
  language: system

Clarify name of probe signal pin by adding the -in suffix
  hal_hw_interface/src/hal_hw_interface.cpp
Due: clang-format

Temporary debugging of goal abort
  interruptible_joint_trajectory_controller/include/interruptible_joint_trajectory_controller/interruptible_joint_trajectory_controller.h
Due: clang-format

Populate joint names in probe feedback and update TODOs
  interruptible_joint_trajectory_controller/include/interruptible_joint_trajectory_controller/interruptible_joint_trajectory_controller.h
Due: clang-format

Implement skeleton of probe setup service
  interruptible_joint_trajectory_controller/include/interruptible_joint_trajectory_controller/interruptible_joint_trajectory_controller.h
  stop_event_msgs/srv/SetNextProbeMove.srv
Due: clang-format

Add skeleton of probe result service
  interruptible_joint_trajectory_controller/include/interruptible_joint_trajectory_controller/interruptible_joint_trajectory_controller.h
  stop_event_msgs/CMakeLists.txt
  stop_event_msgs/srv/GetProbeResult.srv
Due: clang-format

Rename some members to consistently use trailing underscore and hard-code active low probe behavior for now
  hal_hw_interface/include/hal_hw_interface/hal_hw_interface.h
  hal_hw_interface/src/hal_hw_interface.cpp
Due: clang-format

Redesign joint data handles for probe results to avoid conflicts with actual joints
  HALROSControl.files
  hal_hw_interface/include/hal_hw_interface/hal_hw_interface.h
  hal_hw_interface/src/hal_hw_interface.cpp
  interruptible_joint_trajectory_controller/include/interruptible_joint_trajectory_controller/interruptible_joint_trajectory_controller.h
  machinekit_interfaces/include/machinekit_interfaces/joint_event_interface.h
Due: clang-format

Streamline probe result message and populate more of the fields
  hal_hw_interface/CMakeLists.txt
  hal_hw_interface/include/hal_hw_interface/hal_hw_interface.h
  hal_hw_interface/package.xml
  hal_hw_interface/src/hal_control_loop.cpp
  hal_hw_interface/src/hal_hw_interface.cpp
  interruptible_joint_trajectory_controller/include/interruptible_joint_trajectory_controller/interruptible_joint_trajectory_controller.h
  machinekit_interfaces/include/machinekit_interfaces/probe_interface.h
  stop_event_msgs/CMakeLists.txt
  stop_event_msgs/msg/StopEventResult.msg
  stop_event_msgs/srv/GetProbeResult.srv
  stop_event_msgs/srv/GetStopEventResult.srv
  stop_event_msgs/srv/SetNextProbeMove.srv
Due: clang-format

Add a dedicated retract move that will error out if the probe trips again
  hal_hw_interface/src/hal_hw_interface.cpp
  interruptible_joint_trajectory_controller/include/interruptible_joint_trajectory_controller/interruptible_joint_trajectory_controller.h
  stop_event_msgs/srv/SetNextProbeMove.srv
Due: clang-format

probe_interface: Don't clear the previous probe result during retract / non-probing moves
  machinekit_interfaces/include/machinekit_interfaces/probe_interface.h
Due: clang-format

Workaround for packaged includes in QtCreator
  HALROSControl.includes
Due: none

Redesign data flow so probe settings are managed together with the trajectory
  HALROSControl.files
  hal_hw_interface/src/hal_hw_interface.cpp
  interruptible_joint_trajectory_controller/include/interruptible_joint_trajectory_controller/interruptible_joint_trajectory_controller.h
  machinekit_interfaces/CMakeLists.txt
  machinekit_interfaces/include/machinekit_interfaces/probe_interface.h
  machinekit_interfaces/package.xml
Due: clang-format

Handle probe errors during jogging more quickly.
  interruptible_joint_trajectory_controller/include/interruptible_joint_trajectory_controller/interruptible_joint_trajectory_controller.h
Due: clang-format

Fix some error-handling flakiness
  interruptible_joint_trajectory_controller/include/interruptible_joint_trajectory_controller/interruptible_joint_trajectory_controller.h
Due: clang-format

Reword a debug message slightly
  interruptible_joint_trajectory_controller/include/interruptible_joint_trajectory_controller/interruptible_joint_trajectory_controller.h
Due: clang-format

Add missing stop event trigger reset
  interruptible_joint_trajectory_controller/include/interruptible_joint_trajectory_controller/interruptible_joint_trajectory_controller.h
Due: clang-format

Finish pipeline for queueing a new probe capture
  interruptible_joint_trajectory_controller/include/interruptible_joint_trajectory_controller/interruptible_joint_trajectory_controller.h
  machinekit_interfaces/include/machinekit_interfaces/probe_interface.h
Due: clang-format

Make sure settings are cleared if trajectory update fails
  interruptible_joint_trajectory_controller/include/interruptible_joint_trajectory_controller/interruptible_joint_trajectory_controller.h
Due: clang-format

Add missing error code variable in abort function
  interruptible_joint_trajectory_controller/include/interruptible_joint_trajectory_controller/interruptible_joint_trajectory_controller.h
Due: clang-format

Make shutdown configurable with callbacks in python components
  hal_hw_interface/src/hal_hw_interface/hal_obj_base.py
  hal_hw_interface/src/hal_hw_interface/redis_store_hal_pin.py
  hal_hw_interface/src/hal_hw_interface/ros_hal_component.py
Due: black

Remove duplicate rospy.get_param wrapper
  hal_hw_interface/src/hal_hw_interface/ros_hal_component.py
  hal_hw_interface/src/hal_hw_interface/tests/test_ros_hal_component.py
Due: black

hal_hw_interface: Rework RedisStoreHalPin
  hal_hw_interface/src/hal_hw_interface/hal_io_comp.py
  hal_hw_interface/src/hal_hw_interface/hal_offset_mgr.py
  hal_hw_interface/src/hal_hw_interface/redis_store_hal_pin.py
  hal_hw_interface/src/hal_hw_interface/tests/test_hal_offset_mgr.py
Due: black

.github: Fix included branch glob
  .github/workflows/ci.yaml
Due: none

hal_hw_interface: Fix `RosHalPinPublisher` initial value
  hal_hw_interface/src/hal_hw_interface/ros_hal_pin.py
Due: black

Use the first matching COMP_DIR instance when searching LD_LIBRARY_PATH
  hal_hw_interface/src/hal_hw_interface/hal_mgr.py
Due: black

Add __pycache__ to gitignore
  .gitignore
Due: none

hal_hw_interface: Don't hide GenericHWInterface init function
  hal_hw_interface/include/hal_hw_interface/hal_hw_interface.h
  hal_hw_interface/src/hal_control_loop.cpp
  hal_hw_interface/src/hal_hw_interface.cpp
Due: clang-format

ros_hal_pin.py: Fix publisher
  hal_hw_interface/src/hal_hw_interface/ros_hal_pin.py
Due: black

.pre-commit-config: Tweaks & update
  .pre-commit-config.yaml
Due: none

Run auto-formatters & fix problems
  .clang-format
  .github/docker/script_pre.sh
  .github/local-env-sample.yaml
  .travis.build-docs.sh
  .travis.setup-docker-image.sh
  hal_hw_interface/doc/conf.py
  hal_hw_interface/include/hal_hw_interface/hal_control_loop.h
  hal_hw_interface/include/hal_hw_interface/hal_hw_interface.h
  hal_hw_interface/src/hal_control_loop.cpp
  hal_hw_interface/src/hal_hw_interface.cpp
  hal_hw_interface/src/hal_hw_interface/hal_io_comp.py
  hal_hw_interface/src/hal_hw_interface/hal_obj_base.py
  hal_hw_interface/src/hal_hw_interface/hal_pin_attrs.py
  hal_hw_interface/src/hal_hw_interface/redis_store_hal_pin.py
  hal_hw_interface/src/hal_hw_interface/ros_hal_pin.py
  hal_hw_interface/src/hal_hw_interface/tests/test_redis_store_hal_pin.py
  hal_hw_interface/src/hal_hw_interface/tests/test_ros_hal_component.py
  hal_hw_interface/src/hal_hw_interface/tests/test_ros_hal_pin.py
Due: black, clang-format

Silence CMake CMP0048 warnings
  hal_hw_interface/CMakeLists.txt
  hal_rrbot_control/CMakeLists.txt
Due: none

Add CMake & python to build and load HAL comps from other packages
  hal_hw_interface/CMakeLists.txt
  hal_hw_interface/cmake/FindHAL.cmake
  hal_hw_interface/cmake/UseHALComp.cmake
  hal_hw_interface/cmake/hal_hw_interface-extras.cmake.develspace.in
  hal_hw_interface/cmake/hal_hw_interface-extras.cmake.installspace.in
  hal_hw_interface/package.xml
  hal_hw_interface/src/hal_hw_interface/__init__.py
  hal_hw_interface/src/hal_hw_interface/loadrt_local.py
Due: black

hal_hw_interface: Move code out of constructor & check for failures
  hal_hw_interface/include/hal_hw_interface/hal_control_loop.h
  hal_hw_interface/include/hal_hw_interface/hal_hw_interface.h
  hal_hw_interface/src/hal_control_loop.cpp
  hal_hw_interface/src/hal_hw_interface.cpp
Due: clang-format

hal_hw_interface: Add `python3-mock` test dep to packaging
  hal_hw_interface/package.xml
Due: none

Fix `catkin lint` errors
  hal_hw_interface/package.xml
  hal_rrbot_control/package.xml
Due: none

hal_hw_interface: Fix unit tests
  hal_hw_interface/src/hal_hw_interface/tests/conftest.py
  hal_hw_interface/src/hal_hw_interface/tests/test_fixtures.py
  hal_hw_interface/src/hal_hw_interface/tests/test_hal_io_comp.py
  hal_hw_interface/src/hal_hw_interface/tests/test_redis_store_hal_pin.py
  hal_hw_interface/src/hal_hw_interface/tests/test_ros_hal_pin.py
Due: black

.github: Migrate to industrial_ci
  .github/workflows/catkin_tools_devel.sh
  .github/workflows/ci.yaml
  .github/workflows/docker.yaml
  .github/workflows/format.yaml
  .github/workflows/prerelease.yaml
  .github/workflows/upstream.rosinstall
  .github/workflows/upstream_install.sh
Due: none

Path conditions:
  black: any of: \.py$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  qmllint: any of: .*\.qml
  qmlfmt: any of: .*\.qml
