Repository tormach/hal_ros_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, clang-format, qmllint, qmlfmt

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
      - id: check-ast
      - id: check-byte-order-marker
      - id: trailing-whitespace
        exclude: '.*\.patch'
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: fix-encoding-pragma

- repo: local
  hooks:
    -   id: black
        name: Run black code formatter
        description: This hook formats Python code.
        entry: env LC_ALL=C.UTF-8 black -q
        language: system
        args: [-S, -l, "80"]
        types: [python]

    -   id: clang-format
        name: Run clang-format
        description: Clang C/C++ code formatter.
        entry: clang-format -i
        args: [-style=file]
        language: system
        types: [file, c++]
        # note: formatting style in .clang-format

    -   id: qmllint
        name: Run qmllint
        description: QML linter
        entry: qmllint
        language: system
        files: .*\.qml

    -   id: qmlfmt
        name: Run qmlfmt
        description: qmlfmt QML code formatter.
        entry: qmlfmt -w -e
        args: [-i 2, -t 2]
        language: system
        files: .*\.qml

    -   id: shfmt
        name: Run shfmt
        description: shfmt Shell code formatter.
        entry: shfmt -w
        args: [-i=4]
        language: system
        types: [file, shell]

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
      - id: flake8
        # note: ignores and excluded files in .flake8

hal_rrbot_simulation.launch: no-op reindent
  hal_rrbot_control/launch/hal_rrbot_simulation.launch
Due: none

Fix system instalation
  hal_hw_interface/CMakeLists.txt
  hal_rrbot_control/CMakeLists.txt
  hal_rrbot_control/package.xml
Due: none

hal_hw_interface: Add hal_hw_interface.hal_obj_base module
  hal_hw_interface/src/hal_hw_interface/hal_obj_base.py
  hal_hw_interface/src/hal_hw_interface/tests/test_hal_obj_base.py
Due: black

hal_hw_interface: New hal_hw_interface.hal_pin_attrs module
  hal_hw_interface/src/hal_hw_interface/hal_pin_attrs.py
  hal_hw_interface/src/hal_hw_interface/tests/test_hal_pin_attrs.py
Due: black

hal_hw_interface: New hal_hw_interface python module
  hal_hw_interface/CMakeLists.txt
  hal_hw_interface/package.xml
  hal_hw_interface/setup.py
  hal_hw_interface/src/hal_hw_interface/__init__.py
  hal_hw_interface/src/hal_hw_interface/tests/conftest.py
  hal_hw_interface/src/hal_hw_interface/tests/test_fixtures.py
  hal_hw_interface/tests/tests.launch
Due: black

hal_hw_interface: Don't alter $PATH in hal_mgr
  hal_hw_interface/scripts/hal_mgr
Due: none

hal_hw_interface: Add hal_hw_interface.ros_hal_pin module
  hal_hw_interface/CMakeLists.txt
  hal_hw_interface/package.xml
  hal_hw_interface/src/hal_hw_interface/exception.py
  hal_hw_interface/src/hal_hw_interface/ros_hal_pin.py
  hal_hw_interface/src/hal_hw_interface/tests/test_ros_hal_pin.py
  hal_hw_interface/srv/SetFloat64.srv
  hal_hw_interface/srv/SetInt32.srv
  hal_hw_interface/srv/SetUInt32.srv
Due: black

hal_hw_interface: Add hal_hw_interface.ros_hal_component module
  hal_hw_interface/src/hal_hw_interface/ros_hal_component.py
  hal_hw_interface/src/hal_hw_interface/tests/test_ros_hal_component.py
Due: black

hal_hw_interface: Convert hal_io comp to new classes
  hal_hw_interface/scripts/hal_io
  hal_hw_interface/src/hal_hw_interface/hal_io_comp.py
  hal_hw_interface/src/hal_hw_interface/tests/test_hal_io_comp.py
  hal_rrbot_control/config/hal_io.yaml
Due: black

hal_hw_interface: Add hal_hw_interface.redis_store_hal_pin module
  hal_hw_interface/CMakeLists.txt
  hal_hw_interface/package.xml
  hal_hw_interface/src/hal_hw_interface/redis_store_hal_pin.py
  hal_hw_interface/src/hal_hw_interface/tests/conftest.py
  hal_hw_interface/src/hal_hw_interface/tests/test_fixtures.py
  hal_hw_interface/src/hal_hw_interface/tests/test_redis_store_hal_pin.py
Due: black

hal_hw_interface: Add rosdoc infrastructure
  hal_hw_interface/doc/.gitignore
  hal_hw_interface/doc/Makefile
  hal_hw_interface/doc/README.md
  hal_hw_interface/doc/conf.py
  hal_hw_interface/doc/index.rst
  hal_hw_interface/package.xml
  hal_hw_interface/rosdoc.yaml
Due: black

hal_rrbot_control: Add simple gripper to robot
  hal_rrbot_control/config/hal_hw_interface.yaml
  hal_rrbot_control/config/rrbot_controllers.yaml
  hal_rrbot_control/halfiles/hal_gripper.hal
  hal_rrbot_control/halfiles/hal_hw_interface.hal
  hal_rrbot_control/halfiles/start_threads.hal
  hal_rrbot_control/launch/hal_rrbot_simulation.launch
  hal_rrbot_control/launch/rrbot_visualize.launch
  hal_rrbot_control/urdf/hal_rrbot.xacro
  hal_rrbot_control/urdf/hal_rrbot_gripper.xacro
Due: none

hal_rrbot_control: Update docs and remove old hal_io demo
  README.md
  hal_rrbot_control/config/hal_io.halscope
  hal_rrbot_control/config/hal_io.yaml
  hal_rrbot_control/halfiles/hal_io.hal
  hal_rrbot_control/launch/hal_io_demo.launch
Due: none

hal_rrbot_control: Run hal_io with `rosrun`
  hal_rrbot_control/halfiles/hal_io.hal
Due: none

hal_rrbot_control: Fix trajectory loading
  hal_rrbot_control/launch/rrbot_test_trajectory.launch
Due: none

hal_rrbot_control: Silence xacro warning
  hal_rrbot_control/launch/rrbot_visualize.launch
Due: none

hal_hw_interface: Add hal_hw_interface.hal_offset_mgr module
  hal_hw_interface/CMakeLists.txt
  hal_hw_interface/scripts/hal_offset_mgr
  hal_hw_interface/src/hal_hw_interface/hal_offset_mgr.py
  hal_hw_interface/src/hal_hw_interface/tests/test_hal_offset_mgr.py
Due: black

hal_rrbot_control: No-op reindent hal_rrbot_simulation.launch
  hal_rrbot_control/launch/hal_rrbot_simulation.launch
Due: none

hal_hw_interface: Update C++ documentation
  hal_hw_interface/doc/mainpage.dox
  hal_hw_interface/include/hal_hw_interface/hal_control_loop.h
  hal_hw_interface/include/hal_hw_interface/hal_hw_interface.h
Due: clang-format

Docs: Resolve build errrors and warnings
  hal_hw_interface/doc/conf.py
  hal_hw_interface/src/hal_hw_interface/hal_obj_base.py
  hal_hw_interface/src/hal_hw_interface/ros_hal_pin.py
Due: black

Build docs on Travis CI
  .travis.build-docs.sh
  .travis.setup-docker-image.sh
  .travis.yml
Due: none

Docs: Add Sphinx class inheritance diagrams
  hal_hw_interface/doc/conf.py
  hal_hw_interface/src/hal_hw_interface/hal_pin_attrs.py
  hal_hw_interface/src/hal_hw_interface/redis_store_hal_pin.py
  hal_hw_interface/src/hal_hw_interface/ros_hal_pin.py
Due: black

Docs: Split up submodules into separate pages
  .travis.build-docs.sh
  hal_hw_interface/doc/.gitignore
Due: none

Document hal_hw_interface.redis_store_hal_pin.shutdown()
  hal_hw_interface/src/hal_hw_interface/redis_store_hal_pin.py
Due: black

Make build script more easily rerunnable
  .travis.build-docs.sh
  hal_hw_interface/doc/.gitignore
Due: none

Write Sphinx top-level docs
  hal_hw_interface/doc/index.rst
  hal_hw_interface/src/hal_hw_interface/ros_hal_pin.py
Due: black

Restructure docs so Sphinx is on the top level
  .travis.build-docs.sh
  hal_hw_interface/doc/index.rst
  hal_hw_interface/rosdoc.yaml
Due: none

.travis.yml: No need to start Docker service
  .travis.yml
Due: none

hal_rrbot_control/package.xml: Remove rrbot_description dep
  hal_rrbot_control/package.xml
Due: none

hal_hw_interface: Add roslaunch file checks
  hal_hw_interface/CMakeLists.txt
  hal_hw_interface/package.xml
Due: none

hal_rbot_control: Remove rrbot_control dep in package.xml
  hal_rrbot_control/package.xml
Due: none

hal_rbot_control: Remove find rrbot_control in CMakeLists.txt
  hal_rrbot_control/CMakeLists.txt
Due: none

hal_hw_interface: Add `rosbash` dep to package.xml
  hal_hw_interface/package.xml
Due: none

hal_rrbot_control: Install urdf directory
  hal_rrbot_control/CMakeLists.txt
Due: none

hal_hw_interface: Fix request message handling
  hal_hw_interface/src/hal_hw_interface/ros_hal_pin.py
  hal_hw_interface/src/hal_hw_interface/tests/test_ros_hal_pin.py
Due: black

Add gripper signal to halscope display
  hal_rrbot_control/config/hal_hw_interface.halscope
Due: none

hal_mgr: move code to module and add ready topic
  README.md
  hal_hw_interface/scripts/hal_mgr
  hal_hw_interface/src/hal_hw_interface/hal_mgr.py
Due: black

docs: Migrate main page to markdown
  .travis.build-docs.sh
  hal_hw_interface/doc/mainpage.dox
  hal_hw_interface/doc/mainpage.md
  hal_hw_interface/rosdoc.yaml
Due: none

package.xml: Update build_depends
  hal_hw_interface/package.xml
Due: none

Add machinekit_ci configuration
  .github/.gitignore
  .github/debian-distro-settings.yaml
  .github/docker/configure_source.sh
  .github/docker/script_pre.sh
  .github/local-env-sample.yaml
  .github/workflows/ci.yaml
  .gitignore
  VERSION
Due: none
