Repository tormach/hal_ros_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, clang-format, qmllint, qmlfmt

black:
  name: Run black code formatter
  description: This hook formats Python code.
  entry: env LC_ALL=C.UTF-8 black -q
  language: system
  args:
  - -S
  - -l
  - '80'

clang-format:
  name: Run clang-format
  description: Clang C/C++ code formatter.
  entry: clang-format -i
  args:
  - -style=file
  language: system

qmllint:
  name: Run qmllint
  description: QML linter
  entry: qmllint
  language: system

qmlfmt:
  name: Run qmlfmt
  description: qmlfmt QML code formatter.
  entry: qmlfmt -w -e
  args:
  - -i 2
  - -t 2
  language: system

Fix Machinekit HAL detection in CMake
  hal_hw_interface/cmake/FindHAL.cmake
Due: none

Fix Python version detection bug
  hal_hw_interface/src/hal_hw_interface/ros_hal_pin.py
Due: black

Add Machinekit package deps and fix CMake
  hal_hw_interface/cmake/FindHAL.cmake
  hal_hw_interface/package.xml
Due: none

ros_hal_pin.py: Fix `isclose` Py3 call
  hal_hw_interface/src/hal_hw_interface/ros_hal_pin.py
Due: black

ros_hal_pin.py: Remove Python < v. 3.5 compatibility
  hal_hw_interface/src/hal_hw_interface/ros_hal_pin.py
Due: black

Use the first matching COMP_DIR instance when searching LD_LIBRARY_PATH
  hal_hw_interface/src/hal_hw_interface.cpp
  hal_hw_interface/src/hal_hw_interface/hal_mgr.py
Due: black, clang-format

machinekit_interfaces: add a probe interface to define probe state and capture request
  HALROSControl.files
  machinekit_interfaces/include/machinekit_interfaces/probe_interface.h
Due: clang-format

hal_hw_interface: Don't hide GenericHWInterface init function
  hal_hw_interface/include/hal_hw_interface/hal_hw_interface.h
  hal_hw_interface/src/hal_control_loop.cpp
  hal_hw_interface/src/hal_hw_interface.cpp
Due: clang-format

add package-level dependencies on machinekit interface
  interruptible_joint_trajectory_controller/CMakeLists.txt
  interruptible_joint_trajectory_controller/include/interruptible_joint_trajectory_controller/interruptible_joint_trajectory_controller.h
  interruptible_joint_trajectory_controller/package.xml
Due: clang-format

machinekit_interfaces: Add interface definition for a realtime event code that can be passed to a controller
  machinekit_interfaces/include/machinekit_interfaces/realtime_event_interface.h
Due: clang-format

Define probe inputs and corresponding internal data structures for probe data
  hal_hw_interface/include/hal_hw_interface/hal_hw_interface.h
  hal_hw_interface/src/hal_hw_interface.cpp
Due: clang-format

Add machinekit_interfaces package to define hardware interfaces for HAL
  HALROSControl.files
  HALROSControl.includes
  machinekit_interfaces/.gitignore
  machinekit_interfaces/CMakeLists.txt
  machinekit_interfaces/README.md
  machinekit_interfaces/package.xml
  machinekit_interfaces/rosdoc.yaml
Due: none

hal_hw_interface: Add create_s32_pin helper method
  hal_hw_interface/include/hal_hw_interface/hal_hw_interface.h
  hal_hw_interface/src/hal_hw_interface.cpp
Due: clang-format

Add __pycache__ to gitignore
  .gitignore
Due: none

hal_hw_interface: add package-level dependences for probing
  hal_hw_interface/CMakeLists.txt
  hal_hw_interface/package.xml
Due: none

Fix stop trajectory failures because they use uptime rather than clock time
  interruptible_joint_trajectory_controller/include/interruptible_joint_trajectory_controller/interruptible_joint_trajectory_controller.h
Due: clang-format

Include an error message description for the case where probe motion finishes without contact
  interruptible_joint_trajectory_controller/include/interruptible_joint_trajectory_controller/interruptible_joint_trajectory_controller.h
Due: clang-format

Need to start with joint trajectory controller init and then append claimed resources, otherwise they're lost
  interruptible_joint_trajectory_controller/include/interruptible_joint_trajectory_controller/interruptible_joint_trajectory_controller.h
Due: clang-format

hal_hw_interface: Big overhaul to plumb in the probe / stop event interfaces and connect them with HAL
  hal_hw_interface/include/hal_hw_interface/hal_hw_interface.h
  hal_hw_interface/src/hal_hw_interface.cpp
  interruptible_joint_trajectory_controller/include/interruptible_joint_trajectory_controller/interruptible_joint_trajectory_controller.h
Due: clang-format

Re-implement controllers initRequest to ensure things happen in the right order
  hal_hw_interface/src/hal_hw_interface.cpp
  interruptible_joint_trajectory_controller/include/interruptible_joint_trajectory_controller/interruptible_joint_trajectory_controller.h
Due: clang-format

Pull data out of probe result handles and push it into a response
  interruptible_joint_trajectory_controller/include/interruptible_joint_trajectory_controller/interruptible_joint_trajectory_controller.h
Due: clang-format

Fix hal_rrbot_control pedantic warnings from catkin lint
  hal_rrbot_control/package.xml
Due: none

Add moveit_ros_control_interface plugin mapping
  interruptible_joint_trajectory_controller/CMakeLists.txt
  interruptible_joint_trajectory_controller/moveit_ros_control_interface_plugins.xml
  interruptible_joint_trajectory_controller/package.xml
Due: none

Remove generic stop_event handle in hal_hw_interface since it was superseded by the probe interface
  hal_hw_interface/include/hal_hw_interface/hal_hw_interface.h
  hal_hw_interface/src/hal_hw_interface.cpp
  interruptible_joint_trajectory_controller/include/interruptible_joint_trajectory_controller/interruptible_joint_trajectory_controller.h
Due: clang-format

Fix logic errors in active-low probe edge detection
  hal_hw_interface/src/hal_hw_interface.cpp
Due: clang-format

Pedantic cleanups to be explicit about not-reallocating in vectors used by probe resource handles
  hal_hw_interface/src/hal_hw_interface.cpp
Due: clang-format

Use LinuxCNC style probing modes to capture all combinations of error reporting
  stop_event_msgs/srv/SetNextProbeMove.srv
Due: none

Add probe-transition pin for debugging detected probe trips
  hal_hw_interface/include/hal_hw_interface/hal_hw_interface.h
  hal_hw_interface/src/hal_hw_interface.cpp
Due: clang-format

Provide error code and message when aborting a probe motion
  interruptible_joint_trajectory_controller/include/interruptible_joint_trajectory_controller/interruptible_joint_trajectory_controller.h
Due: clang-format

Claim resources in the JointEventInterface (similar to JointStateHandles)
  machinekit_interfaces/include/machinekit_interfaces/joint_event_interface.h
  machinekit_interfaces/include/machinekit_interfaces/probe_interface.h
Due: clang-format

Prevent spamming of stop trajectory planning with a crude status flag
  interruptible_joint_trajectory_controller/include/interruptible_joint_trajectory_controller/interruptible_joint_trajectory_controller.h
Due: clang-format

Integrate linuxcnc-style probing modes in probe message and controller
  interruptible_joint_trajectory_controller/include/interruptible_joint_trajectory_controller/interruptible_joint_trajectory_controller.h
  stop_event_msgs/srv/SetNextProbeMove.srv
Due: clang-format

Fixes recommended by catkin lint
  interruptible_joint_trajectory_controller/CMakeLists.txt
  stop_event_msgs/CMakeLists.txt
  stop_event_msgs/package.xml
Due: none

Remove an unnecessary typecast and note issues with stop trajectory duration
  interruptible_joint_trajectory_controller/include/interruptible_joint_trajectory_controller/interruptible_joint_trajectory_controller.h
Due: clang-format

Fix pedantic warnings from catkin lint
  hal_hw_interface/CMakeLists.txt
  hal_hw_interface/package.xml
Due: none

Fix lost goal problem by passing the current RT goal to the stop_trajectory_builder
  interruptible_joint_trajectory_controller/include/interruptible_joint_trajectory_controller/interruptible_joint_trajectory_controller.h
Due: clang-format

Print resource claims and other initialiation details to info log
  interruptible_joint_trajectory_controller/include/interruptible_joint_trajectory_controller/interruptible_joint_trajectory_controller.h
Due: clang-format

Replace JointTrajectoryController with InterruptibleJointTrajectoryController in tests
  interruptible_joint_trajectory_controller/test/joint_trajectory_controller_test.cpp
  interruptible_joint_trajectory_controller/test/rrbot_controllers.yaml
  interruptible_joint_trajectory_controller/test/rrbot_controllers_stopramp.yaml
  interruptible_joint_trajectory_controller/test/rrbot_partial_controllers.yaml
  interruptible_joint_trajectory_controller/test/rrbot_vel_controllers.yaml
  interruptible_joint_trajectory_controller/test/rrbot_wrapping_controllers.yaml
Due: clang-format

Add probe transition handshake and success condition for normal probing
  interruptible_joint_trajectory_controller/include/interruptible_joint_trajectory_controller/interruptible_joint_trajectory_controller.h
  machinekit_interfaces/include/machinekit_interfaces/probe_interface.h
Due: clang-format

Path conditions:
  black: any of: \.py$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  qmllint: any of: .*\.qml
  qmlfmt: any of: .*\.qml
